@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: black !important;
    text-decoration: none !important;
}

/* Main */

.main {
    flex: 1;
    width: 100%;
    min-height: 100%;
    margin: 1.5rem 0;
}

.box-margin{
    margin: 1rem auto;
    max-width: 72rem;
}

/* Liste des thèmes */

.themes-list__list-items {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 0 !important;
}

.themes-list__list-items::-webkit-scrollbar {
    display: none;
}

.themes-list__item {
    display: inline-block;
    background-color: #ff1616;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

.themes-list__item--active {
    background-color: #ed0000;
}

.themes-list__link {
    color: #fff !important;
}

.themes-list__item:not(:last-child) {
    margin-right: 1rem;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: solid 5px #000;
}

.navbar__logo {
    height: 35px;
    width: 35px;
}

.navbar__icon--login {
    font-size: 30px !important;
}

/* Quiz box */
.quizes-list {
    margin: 1in auto;
}

@media screen and (min-width: 768px) {
    .quizes-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 23rem));
        gap: 1.5rem !important;
        justify-content: center;
    }
}

.quizes-list__quiz-box {
    min-height: 25vh;
    border-radius: 5px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
}

.quizes-list__quiz-box::before {
    position: absolute;
    height: 100%;
    width: 100%;
}

.quizes-list__questions-number {
    float: right;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 0.5rem;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 1rem;
}

.quizes-list__title {
    display: block;
    width: fit-content;
    clear: both;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

/* Quiz box */

.quiz-box__introduction {
    text-align: center;
}

.quiz-box__divider--high {
    border-width: 5px;
}

.quiz-box__link {
    border-radius: 5px !important;
    background-color: #f61e1e;
    padding: 0.2rem 1rem;
    color: #fff !important;
}

.quiz-box.uk-card.uk-card-default {
    margin: 1rem;
    border-radius: 10px;
    max-width: 50rem;
}

@media screen and (min-width: 835px) {
    .quiz-box.uk-card.uk-card-default {
        margin: 1rem auto;
    }
}

.quiz-box__title,
.quiz-box__questions-number {
    text-transform: uppercase;
    font-weight: 700;
}

.quiz-box__questions-number {
    float: right;
    font-size: 18px;
}

/* Choix de réponse */

.quiz-box__choices-list {
    margin-top: 1in;
}

.quiz-box__choice {
    display: block;
}

.quiz-box__choice:not(:last-child) {
    margin-bottom: 1.5rem;
}

.quiz-box__question-illustration {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

input[type="radio"].quiz-box__radio {
    display: none;
}

/* Boxe de la question */

.quiz-box__divider {
    margin: 1in 0;
}

.quiz-box__question-number {
    display: block;
    float: right;
    background-color: #f61e1e;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    margin-bottom: 0.5in;
}

.quiz-box__question {
    clear: right;
}

.quiz-box__choice-description {
    display: flex;
    border: solid 1px #f0f0f0;
    /* background-color: #fcfcfc; */
    border-radius: 5px;
    margin: auto;
}

.quiz-box__choice-description--right-choice {
    border: solid 1px rgb(145, 255, 0);
    background-color: rgba(131, 231, 0, 0.459);
}

.quiz-box__choice-description--wrong-choice {
    border: solid 1px gray;
    background-color: rgb(230, 230, 230);
}

.quiz-box__choice-letter-box {
    padding: 0.5rem 1rem;
    background-color: #f61e1e;
    color: #fff;
    font-weight: 700;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.quiz-box__choice-answer-box {
    display: flex;
    align-items: center;
}

.quiz-box__choice-answer {
    margin-bottom: 0;
    margin-left: 1rem;
}

input[type="radio"]:checked ~ div.quiz-box__choice-description {
    border: solid 1px #eb0000;
    font-weight: 700 !important;
    background-color: #fcfcfc;
}

.quiz-box__submit-button,
.quiz-box__back-to-quiz-list {
    width: 100%;
    background-color: #eb0000;
    color: white !important;
    padding: 0.5rem 1rem !important;
    text-transform: none !important;
    font-size: 20px !important;
    margin-top: 1in !important;
    border-radius: 5px !important;
}

.quiz-box__submit-button:hover,
.quiz-box__back-to-quiz-list:hover {
    background-color: #cc0101 !important;
}

.quiz-box__quiz-points-result-box {
    border: solid 2px #eb0000;
    border-radius: 5px;
    padding: 1rem;
    max-width: 150px;
    margin: 0.5in auto 1rem;
}

.quiz-box__quiz-points-result {
    font-size: 23.5px;
    font-weight: 700;
    color: #eb0000;
}
